<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GIF 채팅방</title>
</head>
<body>

<div>F12 를 눌러 console 탭과 network 탭을 확인하세요.</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    // WebSocket 브라우저에서 지원해 주기 때문에 따로 모듈을 받을 필요가 없다.
    // transports: ['websocket'] 를 사용하면 polling 를 시도하지 않는다.
    const socket = new io.connect("http://localhost:8005",{
        path: '/socket.io',
        transports: ['websocket'],
    });

    socket.on('news', (data) => {
        console.log(data);
        socket.emit('reply', 'Hello Node JS');
    });
</script>

</body>
</html>